/* CSS Document */
/*---------------- Menu ---------------*/
.rhm1{
	width:550px;
	height:64px;
	margin:0 auto;
	background:url(images/rhm1_bg.gif) repeat-x;
	position:relative;
	margin-top:20px;	
}
.rhm1-left{
	background:url(images/rhm1_l.gif) no-repeat;
	width:15px;
	height:64px;
	float:left;
}
.rhm1-right{
	background:url(images/rhm1_r.gif) no-repeat;
	width:15px;
	height:64px;
	float:right;
}
.menu{
	background:url(images/rhm1_bg.gif) repeat-x;
	height:64px;
	top:0;
}
.menu > ul{
	list-style:none;
	margin:0 auto;
	text-align:right;
}
.menu li{
	float:left;
	list-style:none;
	position:relative;
}
.menu ul li > a{
	float:left;
	display:block;
	color:#ffe8cc;
	text-decoration:none;
	font:15px 'Lucida Sans', sans-serif;
	font-weight:bold;
	padding:0 0 0 18px;
	height:64px;
	line-height:40px;
	text-align:right;
	cursor:pointer;	
}
.menu  ul  li  a  span{
	float:left;
	display:block;
	padding:0 32px 0 18px;
}
.menu li.current a{
	color:#fff;
	background:url(images/rhm1_sub_l.gif) no-repeat left 5px;
}
.menu li.current a span{
	color:#fff;
	background:url(images/rhm1_sub_r.gif) no-repeat right 5px;
}
.menu li a:hover{
	color:#fff;
	background:url(images/rhm1_sub_l.gif) no-repeat left 5px;
}
.menu li a:hover span{
	color:#fff;
	background:url(images/rhm1_sub_r.gif) no-repeat right 5px;
}
/*---------------- Sub-Menu ---------------*/
div.menu li ul {
	list-style-type:none;
	display:none;
	position:absolute;
	top:35px;
	right:0;
	border-top:3px solid transparent;
	z-index:1;
}
div.menu li:hover ul {
	display:block;
}

/*.sub1,.sub2,.sub3{
	background:url(images/rhm1_sub_l.gif) no-repeat left 5px;
	
	float:left;;
}
.sub1 span,.sub2 span,.sub3 span {
		background:url(images/rhm1_sub_r.gif) no-repeat right 5px;
	
	float:right;
}*/
.sub3 {
		float:left;
		width:100px;	
}
div.menu li li {
	float:none;
}
div.menu li li a {
		max-width:90px;
		top:0;
		height:50px;
		direction:rtl;
		background-image:url(images/sub-bg.jpg);	
		background-size:0 50px;
		white-space:nowrap;
}
div.menu li li a:hover  {
	color:#fff;
	background:url(images/rhm1_hover_l.gif) no-repeat left 5px ;
}
div.menu li li a:hover span{
		color:#fff;
	background:url(images/rhm1_hover_r.gif) no-repeat right 5px ;	
}
