/* CSS Document */
.rhm1{
	width:550px;
	height:64px;
	margin:0 auto;
	background:url(images/rhm1_bg.gif) repeat-x;
		position:relative;	
}
.rhm1-left{
	background:url(images/rhm1_l.gif) no-repeat;
	width:15px;
	height:64px;
	float:left;
}
.rhm1-right{
	background:url(images/rhm1_r.gif) no-repeat;
	width:15px;
	height:64px;
	float:right;
}
.menu{
	background:url(images/rhm1_bg.gif) repeat-x;
	height:64px;
	top:0;
}
.menu > ul{
	list-style:none;
	margin:0 auto;
	text-align:right;
}
.menu li{
	float:left;
	list-style:none;
}
.menu li a{
	float:left;
	display:block;
	color:#ffe8cc;
	text-decoration:none;
	font:15px 'Lucida Sans', sans-serif;
	font-weight:bold;
	padding:0 0 0 18px;
	height:64px;
	line-height:40px;
	text-align:right;
	cursor:pointer;	
}
.menu li a span{
	float:left;
	display:block;
	padding:0 32px 0 18px;
}
.menu li.current a{
	color:#fff;
	background:url(images/rhm1_hover_l.gif) no-repeat left 5px;
}
.menu li.current a span{
	color:#fff;
	background:url(images/rhm1_hover_r.gif) no-repeat right 5px;
}
.menu li a:hover{
	color:#fff;
	background:url(images/rhm1_hover_l.gif) no-repeat left 5px;
}
.menu li a:hover span{
	color:#fff;
	background:url(images/rhm1_hover_r.gif) no-repeat right 5px;
}
/*---------------- Sub-Menu ---------------
div.menu li ul {
	list-style-type: none;
	display: none;
	position:absolute;
	top: 65px;
	left:0;
	border-top: 3px solid transparent;
}
div.menu li:hover ul {
	display: block;
	min-width: 100%;
}
div.menu li li {
	float:none;
	
	
}
div.menu li li:hover a {
	color: #fff;
	background:url(images/rhm1_hover_r.gif) no-repeat right 5px;
}
div.menu li li a span {
	white-space: nowrap;
}
---------------- Sub-Menu ---------------*/